/*variables*/


/*fonts*/

@font-face {
    font-family: 'open-sans-light';
    src: url('/fonts/OpenSans-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'open-sans-regular';
    src: url('/fonts/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'open-sans-bold';
    src: url('/fonts/OpenSans-Bold.ttf ') format('ttf');
}

@font-face {
    font-family: 'open-sans-extrabold';
    src: url('/fonts/OpenSans-ExtraBold.ttf ') format('ttf');
}


/*reset*/


/*base styling*/


/*mobile styling*/


/*tablet styling*/


/*laptop styling*/


/*desktop styling*/