/*Link*/
@font-face {
    font-family: 'open-sans-light';
    src: local('open-sans');
    src: url('../fonts/open-sans-light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans-regular';
    src: local('open-sans');
    src: url('../fonts/open-sans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans-bold';
    src: local('open-sans');
    src: url('../fonts/open-sans-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans-semibold';
    src: local('open-sans');
    src: url('../fonts/open-sans-semibold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans-extrabold';
    src: local('open-sans');
    src: url('../fonts/open-sans-extrabold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/*variables*/
:root {
    --primary: #00FFA3;
    --secondary: #252C35;
    --grey: #E0E0E0;
    --sizzling-red: #ff475a;
    --sea-green-crayola: #47ffbc;
    --alice-blue: #eef7ff;
    --prussian-blue: #002b3d;

}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'open-sans-regular';
    font-size: 18px;
    width: 100%;
    min-width: 300px;
    margin: 0;
}

body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}


/*fonts*/

.primary-btn,
.secondary-btn {
    font-family: 'open-sans-bold';
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

a,
li,
p i {
    color: var(--alice-blue);
}

#work p,
#work h2 #about h2 {
    color: var(--secondary);
}


/*base styling*/
h1 {
    font-family: 'open-sans-extrabold';
}

h2 {
    font-family: 'open-sans-extrabold';
    padding-bottom: 10px;
    border-bottom: var(--sea-green-crayola) 5px solid;
    bottom: auto;
}

#hero-wrapper {
    background-image: url("/media/desktop-bg.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 150px 0 50px 0; */
    color: var(--alice-blue);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-column: 2/12;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

img.logo {
    display: block;
    grid-column: 1/-1;
    width: 75px;
}

header a {
    grid-column: 1/-1;
}

#hero {
    grid-column: 1/-1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#hero h1:nth-child(1) {
    grid-column: 2/12;
    grid-row: 1;
}

#hero h1:nth-child(2) {
    grid-column: 2/12;
    grid-row: 2;
    color: var(--sea-green-crayola);
}

#hero p:nth-child(3) {
    grid-column: 2/12;
    grid-row: 3;
    line-height: 107%;
    margin: 5px 0 50px 0;
}

#hero a:nth-child(4) {
    grid-column: 2/12;
    grid-row: 4;
    width: 300px;
    height: 53px;
    margin: 20px 0 0 0;
}

#hero a:nth-child(5) {
    grid-column: 2/12;
    grid-row: 5;
    margin: 10px 0 0 0;
    width: 300px;
    height: 53px;
}

.hero-heading {
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
}

#work {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px 0;
}

#work h2 {
    grid-column: 2/12;
    grid-row: 1;
    font-size: 36px;
    color: var(--secondary);
}

#work div {
    grid-column: 2/12;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

#work a:nth-child(3) {
    grid-column: 2/12;
    grid-row: 3;
    margin: 50px 0 0 0;
    width: 300px;
}

#work a:nth-child(4) {
    grid-column: 2/12;
    grid-row: 4;
    margin: 10px 0 50px 0;
    width: 300px;
}

.work-items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.work-items a {
    grid-column: 1/-1;
}

.work-items img {
    max-width: 100%;
    border-radius: 5px;
}


.work-items a:nth-child(1) {
    grid-column: 1/-1;
    grid-row: 1;
}

.work-items a:nth-child(2) {
    grid-column: 1/-1;
    grid-row: 2;
}

.work-items a:nth-child(3) {
    grid-column: 2/12;
    grid-row: 3;
    margin: 0 0 50px 0;
}

#skills {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px 0;
}

#skills h2:nth-child(1) {
    grid-column: 2/12;
    grid-row: 1;
    font-size: 36px;
    margin: 30px 0 0 0;
    border-bottom: none;
    padding-bottom: 0;
}

#skills h2:nth-child(2) {
    grid-column: 2/12;
    grid-row: 2;
    font-size: 36px;
    margin: 0 0 30px 0;
}

#skills div:nth-child(3) {
    grid-column: 2/12;
    grid-row: 3;
}

#skills a:nth-child(4) {
    grid-column: 2/12;
    grid-row: 4;
    width: 300px;
    margin: 50px 0 0 0;
}

#skills a:nth-child(5) {
    grid-column: 2/12;
    grid-row: 5;
    width: 300px;
    margin: 10px 0 30px 0;
}

#skills p {
    padding: 10px 0;
}

#skills i {
    padding-right: 10px;
}

#skills,
#contact {
    background: var(--secondary);
    color: var(--alice-blue);
}

#about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px 0;
}

#about h2 {
    grid-column: 2/12;
    grid-row: 1;
    color: var(--secondary);
    font-size: 36px;
}

#about img {
    max-width: 100%;
    border-radius: 5px;
    grid-column: 2/12;
    grid-row: 2;
}

#about p {
    grid-column: 2/12;
    grid-row: 3;
    line-height: 30px;
    margin: 20px 0 30px 0;
}

#about a:nth-child(4) {
    grid-column: 2/12;
    grid-row: 4;
    width: 300px;
}

#about a:nth-child(5) {
    grid-column: 2/12;
    grid-row: 5;
    width: 300px;
    margin: 10px 0 30px 0;
}



.primary-btn,
button.submit {
    background: var(--sea-green-crayola);
    color: var(--secondary);
    border: var(--sea-green-crayola) 4px solid;
    border-radius: 5px;
    padding: 10px 80px;
    width: 300px;
    text-transform: uppercase;
    display: inline-block;
}

.primary-btn:hover {
    background: var(--secondary);
    color: var(--sea-green-crayola);
    border: var(--secondary) 4px solid;
}

#hero .primary-btn:hover,
#skills .primary-btn:hover,
#contact .primary-btn:hover {
    background: none;
    color: var(--alice-blue);
    border: var(--sea-green-crayola) 4px solid;
}

.secondary-btn {
    background: none;
    color: var(--secondary);
    border: var(--secondary) 4px solid;
    border-radius: 5px;
    padding: 10px 20px;
    width: 300px;
    text-transform: uppercase;
    display: inline-block;
}

#hero .secondary-btn,
#skills .secondary-btn {
    background: none;
    color: var(--alice-blue);
    border: var(--alice-blue) 4px solid;
}

.secondary-btn:hover {
    background: var(--sea-green-crayola);
    color: var(--secondary);
    border: var(--sea-green-crayola) 4px solid;
}

#hero .secondary-btn:hover,
#skills .secondary-btn:hover {
    background: var(--sea-green-crayola);
    color: var(--secondary);
    border: var(--sea-green-crayola) 4px solid;
}



#contact {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px 0;
}

#contact h2 {
    grid-column: 2/12;
    grid-row: 1;
    font-size: 36px;
}

#contact p:nth-child(2) {
    grid-column: 2/12;
    grid-row: 2;
}

#contact p:nth-child(3) {
    grid-column: 2/12;
    grid-row: 3;
}

#contact p:nth-child(4) {
    grid-column: 2/12;
    grid-row: 4;
}

#contact p i {
    padding-right: 10px;
}

#contact form,
button.submit {
    grid-column: 2/12;
    grid-row: 6;
    min-width: 300px;
    margin: 20px 0 0 0;
}

#contact input,
textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    min-width: 300px;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 4px;
    color: var(--secondary);
}

button.submit {
    font-family: 'open-sans-bold';
    font-size: 18px;
    cursor: pointer;
    background-color: var(--sea-green-crayola);
}

button.submit:hover {
    background: none;
}

footer {
    color: var(--secondary);
    text-align: center;
    padding: 20px;
    background: var(--alice-blue);
}

footer img {
    max-width: 40px;
    margin: 20px auto;
    fill: var(--sea-green-crayola);
}

footer p {
    font-size: 18px;
}




/*mobile styling*/
nav {
    visibility: hidden;
}

/*tablet styling*/

@media (min-width: 620px) {
    nav {
        visibility: visible;
    }


}


/*laptop styling*/
/* @media only screen and (min-width: 960px) {
    

} */

/*desktop styling*/

/* @media screen and(min-width: 1200px) {} */