/*variables*/

:root {
    --primary: #00FFA3;
    --secondary: #252C35;
}


/*fonts*/

@font-face {
    font-family: 'open-sans-light';
    src: url('/fonts/OpenSans-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'open-sans-regular';
    src: url('/fonts/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'open-sans-bold';
    src: url('/fonts/OpenSans-Bold.ttf ') format('ttf');
}

@font-face {
    font-family: 'open-sans-extrabold';
    src: url('/fonts/OpenSans-ExtraBold.ttf ') format('ttf');
}


/*reset*/

li {
    list-style-type: none;
}

body,p,a,ul,li,h1,figure,input {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/*base styling*/

/*.primary-btn {
    background-color: #00FFA3;
    color: #252C35;
    border-radius: 5px;
    padding: 20px 80px;
    text-transform: uppercase;

}*/


/*mobile styling*/


/*tablet styling*/

@media screen and(min-width: 620px) {}


/*laptop styling*/

@media screen and(min-width: 960px) {}


/*desktop styling*/

@media screen and(min-width: 1200px) {}