/*variables*/


/*fonts*/

* {
    font-family: "open sans", sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 800;
}


/*reset*/


/*base styling*/


/*mobile styling*/


/*tablet styling*/


/*laptop styling*/


/*desktop styling*/